.todo-list-template {
  background: white;
  width: 512px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin: 0 auto;
  margin-top: 4rem;
  border-radius: 10px;
}

.title {
  padding: 0.1rem;
  text-align: center;
  font-weight: 100;
  background: salmon;
  color: white;
  border-radius: 10px 10px 0 0;
}

.form-wrapper {
  padding: 1rem;
  border-top: 1px solid lightgray;
}

.todos-wrapper {
  min-height: 5rem;
}