@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
  padding: 0;
  font-family: "Noto Sans KR";
  background: #f9f9f9;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}